.backgroundApp{
  background-image: url('./img/background.png');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  overflow: hidden;
}
.AppTitle{
  text-align: center;
  margin: 10px 0 10px;
  padding: 5px 0 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.AppContent {
  display: flex;
  flex-direction: row;
}
