.backgroundApp{
  background-image: url('./img/background.png');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  overflow: hidden;
}
.AppTitle{
  text-align: center;
}

.AppContent {
  display: flex;
  flex-direction: row;
}
