.formbutton {
    width: 83px;
    height: 32px;
    margin: 2px;

    color: white;
    border: none;
    border-radius: 3px;
    background-color: teal;

}
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 272px;
}
.formInput {
    width: 240px;

    outline: none;
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 128, 128, 0.8)
}

.closeButton {
    width: 28px;
    height: 28px;

    color: rgb(50, 50, 50);
    background-color: rgba(255, 225, 255, 0);
    border: none;
}