.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 272px;
    margin-bottom: 5px;
    
}

/* .card:hover {
    border: solid 2px rgba(255, 225, 255, 0.5);
    border-radius: 5px;
} */

.cardText {
    width: 240px;

    word-break: break-all;
    hyphens: auto;

    font-size: 14px;
    color: white;


}

.cardButton {
    width: 28px;
    height: 28px;

    color: rgb(50, 50, 50);
    background-color: rgba(255, 225, 255, 0);
    border: none;

}