.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 240px;
}

.cardText {
    width: 200px;

    color: white;
}

.cardButton {
    width: 28px;
    height: 28px;

    color: rgb(50, 50, 50);
    background-color: rgba(255, 225, 255, 0);
    border: none;

}