.card
{
    display: flex;
    flex-direction: row;

    width: 272px;
    margin-bottom: 15px;

    color: #333;
    border-radius: 6px;
    background-color: white;

    justify-content: space-between;
}
.card:hover
{
    transition: all .5s;

    border-right: 5px solid #333;
    border-bottom: 5px solid #333;
}

.cardText
{
    font-size: 14px;

    display: flex;

    width: 240px;
    padding-left: 3px;

    word-break: break-all;
    hyphens: auto;

    justify-content: flex-start;
    align-items: center;
}

.cardButton
{
    width: 28px;
    height: 28px;

    color: #333;
    border: none;
    background-color: rgba(255, 225, 255, 0);
}